@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto;
    color: rgb(224, 224, 224);
}

html, body{
    margin: 0;
    padding: 0;
    min-width: 280px;
}

body{
    min-height: 95vh;
    background-image: linear-gradient(to bottom, rgb(54, 54, 54), rgb(18, 18, 18));
}

.no-underline{
    text-decoration: none;
}

.link-text{
    color: white;
    text-shadow: 0px 0px 3px white;
}

.main-header{
    background-color: rgba(0, 0, 0, 0.226);
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to top, white, rgba(0, 0, 0, 0.7)),
    url(images-contacts/header-bg);
    background-blend-mode: multiply;
    background-size: cover;
    box-shadow: 0px 40px 40px rgb(8, 8, 8);
}
.main-title-area{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .main-title{
        font-family: Caveat;
        color: white;
        font-weight: lighter;
        font-size: 3em;
        letter-spacing: 2px;
    }

.nav-text{
    transition-duration: 500ms;
    color: rgb(255, 245, 223);
    font-size: 1.3em;
}
    .nav-text:hover{
        color: rgba(255, 245, 223, 0.295);
    }

.nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.623);
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    position: fixed;
    width: 100%;
}
    .nav a{
        text-decoration: none;
        text-align: center;
        margin: 3%;
    }

/**/

.mini-header{
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
}

.reg-contacts{
    margin: 100px auto 40px auto;
}
.contact-info{
    margin: 20px auto;
    width: 80%;
    height: 200px;
    display:grid;
    grid-template-columns: 49% 49%;
    grid-row: 1 2 1;
    grid-column-gap: 2%;
    grid-row-gap: 8%;
}
    .cell{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 92px;
        background-color: rgb(49, 49, 49);
    }
        .info-name-1{
            transition-duration: 300ms;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            border-bottom-right-radius: 5px;
            box-shadow: 5px 5px 10px black;
            font-size: 1.5em;
            color: white;
        }
            .info-name-1:hover{
                box-shadow: 8px 8px 10px #2d88ff;
            }
        .info-name-2{
            transition-duration: 300ms;
            border-left: 2px solid black;
            border-bottom: 2px solid black;
            border-bottom-left-radius: 5px;
            box-shadow: -5px 5px 10px black;
            font-size: 1.5em;
            color: white;
        }
            .info-name-2:hover{
                box-shadow: -8px 8px 10px white;
            }
        .info-1{
            transition-duration: 300ms;
            border-right: 2px solid black;
            border-top: 2px solid black;
            border-top-right-radius: 5px;
            box-shadow: 5px -5px 10px black;
            font-size: 1.2em;
        }
            .info-1:hover{
                box-shadow: 8px -8px 10px #2d88ff;
            }
        .info-2{
            transition-duration: 300ms;
            border-left: 2px solid black;
            border-top: 2px solid black;
            border-top-left-radius: 5px;
            box-shadow: -5px -5px 10px black;
            font-size: 1.2em;
        }
            .info-2:hover{
                box-shadow: -8px -8px 10px white;
            }

.divider{
    width: 80%;
    height: 2px;
    border-radius: 1px;
    background-color: rgb(82, 82, 82);
    margin: 120px auto;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.social-media{
    margin: 40px auto 100px auto;
    width: 70%;
    display: flex;
}
.social-media-template{
    width: 50%;
    margin: 0 .5%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
    .facebook{
        transition-duration: 300ms;
        background-color: #2d88ff;
    }
        .facebook:hover{
            box-shadow: 0px 0px 10px #2d88ff;
        }
    .youtube{
        transition-duration: 300ms;
        background-color: white;
    }
        .youtube:hover{
            box-shadow: 0px 0px 10px white;
        }

.icon{
    width: 60px;
}


/**/

.main-footer{
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
}
    .footer-container{
        width: 96%;
        height: fit-content;
        margin: 40px auto;
        text-align: center;
    }
    .creator{
        font-size: .8em;
    }

/*-----------all-screen-support-------------*/

@media screen and (max-width: 1000px){
    .social-media{
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .social-media-template{
            width: 80%;
            margin: 10px;
        }
}

@media screen and (max-width: 700px){
    .info-1, .info-2{
        font-size: .9em;
    }
}

@media screen and (max-width: 500px){
    .nav-text{
        font-size: 1em;
    }
    .info-2{
        font-size: .7em;
    }
}

@media screen and (max-width: 440px){
    .main-title{
        transition-duration: 500ms;
        font-size: 2em;
    }
}

@media screen and (max-width: 340px){
    .nav-text{
        font-size: .8em;
    }
    .info-1, .info-2{
        font-size: .6em;
    }
}

@media screen and (max-width: 300px){
    .main-title{
        transition-duration: 500ms;
        font-size: 1.5em;
    }
}