@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto;
    color: rgb(224, 224, 224);
}

html, body{
    margin: 0;
    padding: 0;
    min-width: 280px;
}

body{
    min-height: 95vh;
    background-image: linear-gradient(to bottom, rgb(54, 54, 54), rgb(18, 18, 18));
}

.no-underline{
    text-decoration: none;
}

.link-text{
    color: white;
    text-shadow: 0px 0px 3px white;
}

.main-header{
    background-color: rgba(0, 0, 0, 0.226);
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to top, white, rgba(0, 0, 0, 0.7)),
    url(images-index/header-bg.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 60% 70%;
    box-shadow: 0px 40px 40px rgb(8, 8, 8);
}
.main-title-area{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .main-title{
        font-family: Caveat;
        color: white;
        font-weight: lighter;
        font-size: 3em;
        letter-spacing: 2px;
    }

.nav-text{
    transition-duration: 500ms;
    color: rgb(255, 245, 223);
    font-size: 1.3em;
}
    .nav-text:hover{
        color: rgba(255, 245, 223, 0.295);
    }

.nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.623);
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    position: fixed;
    width: 100%;
}
    .nav a{
        text-decoration: none;
        text-align: center;
        margin: 3%;
    }

/**/

.delete-later{
    text-align: center;
    margin: 100px auto;
}

/**/

.main-footer{
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
}
    .footer-container{
        width: 96%;
        height: fit-content;
        margin: 40px auto;
        text-align: center;
    }
    .creator{
        font-size: .8em;
    }